<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error {{ status_code }}</title>
</head>
<body>
<img src="/static/USU logo.jpg" alt="funny dogs afraid of yoda"  width=250/>
<p>
    Login unsuccessful: Error {{ status_code }} {{ status }}
</p>
<p>
    Please contact the USU Center for Student Analytics if the problem persists at ais.usu.edu/analytics.
</p>
<form method="POST">
    <button name="go_back" value="go_back">Try Logging In Again</button>
</form>


</body>
</html>