<div style="text-align: center">
    <img src="static/utah_state_u_logo_wide.jpg" alt="Utah State University" width="40%">
</div>

<form method="POST">
    <h1>Departmental Analytics</h1>
    <div style="text-align: center; list-style-position: inside">
        <ul>
            <li>Learn about assignment types for a specific course</li>
            <li>Generate reports about default view for a department, (optionally) filtered by term</li>
            <li>See other course information in a list</li>
        </ul>
    </div>
    <p>Enter your Canvas Admin Key</p>
    <div style="text-align: center">
    <input type="password" name="token">
    <input type="submit" value="Login">
    </div>
</form>

